[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Michele Giugliano
	email = mgiugliano@gmail.com
[github]
	user = mgiugliano
[credential]
	helper = osxkeychain
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
[alias]
		# One line log
		l = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short
		lol = log --graph --decorate --oneline --all
		a = add
		#ap = add -p
	
		rao = remote add origin
		ac = !git add . && git commit -am
		pushitgood = push -u origin --all

		c = commit --verbose
	    ca = commit -a --verbose
	    cm = commit -m
	    cam = commit -a -m
		m = commit --amend --verbose

		d = difftool
		#ds = diff --stat
		#dc = diff --cached

		s = status -s
	    co = checkout
		cob = checkout -b
	    # list branches sorted by last modified
	    b = "!git for-each-ref --sort='-authordate' --format='%(authordate)%09%(objectname:short)%09%(refname)' refs/heads | sed -e 's-refs/heads/--'"

		# list aliases
		la = "!git config -l | grep alias | cut -c 7-"
[color]
	ui = true
